pkgbase = linux-amd-staging-drm-next-git
	pkgdesc = Linux kernel with bleeding-edge AMDGPU drivers
	pkgver = 6.12.r1313255.16b8b0512423
	pkgrel = 1
	url = https://gitlab.freedesktop.org/agd5f/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux-amd-staging-drm-next-git::git+https://gitlab.freedesktop.org/agd5f/linux.git#branch=amd-staging-drm-next
	source = config
	sha256sums = SKIP
	sha256sums = 02dbfa8936028f2d1a4bdca3387bf3a45bd572903d889b5795a1d722b63f27ab
	b2sums = SKIP
	b2sums = f59e032ce00fb871ed527b0cd45c8787abd829645012aca4385c000a98c027e53e7ff033bf0154551d43e144c37bd821159aa52ad4a9c1059233e7d1183720ba

pkgname = linux-amd-staging-drm-next-git
	pkgdesc = The Linux kernel with bleeding-edge AMDGPU drivers kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-amd-staging-drm-next-headers-git
	pkgdesc = Headers and scripts for building modules for the Linux kernel with bleeding-edge AMDGPU drivers kernel
	depends = pahole

pkgname = linux-amd-staging-drm-next-docs-git
	pkgdesc = Documentation for the Linux kernel with bleeding-edge AMDGPU drivers kernel
