pkgbase = linux-amd-staging-drm-next-git
	pkgdesc = Linux kernel with bleeding-edge AMDGPU drivers
	pkgver = 6.12.r1313499.c80feef27112
	pkgrel = 1
	url = https://gitlab.freedesktop.org/agd5f/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux-amd-staging-drm-next-git::git+https://gitlab.freedesktop.org/agd5f/linux.git#branch=amd-staging-drm-next
	source = config
	sha256sums = SKIP
	sha256sums = 4e648e32cf3aaca8594fd7443613a3bdce5dae2848214feb1be8d137e3db1f23
	b2sums = SKIP
	b2sums = c3bc7e3ea2b943c2dcd5d2169eae63e90436963eb547c2301a3449169cdc8da13500c88acbfb4cc033ab78aa72950cf88e9fce00bc86d7a0af68b649761c2829

pkgname = linux-amd-staging-drm-next-git
	pkgdesc = The Linux kernel with bleeding-edge AMDGPU drivers kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-amd-staging-drm-next-headers-git
	pkgdesc = Headers and scripts for building modules for the Linux kernel with bleeding-edge AMDGPU drivers kernel
	depends = pahole

pkgname = linux-amd-staging-drm-next-docs-git
	pkgdesc = Documentation for the Linux kernel with bleeding-edge AMDGPU drivers kernel
