pkgbase = linux-amd-staging-drm-next-git
	pkgdesc = Linux kernel with bleeding-edge AMDGPU drivers
	pkgver = 6.12.r1313645.203183eb6885
	pkgrel = 1
	url = https://gitlab.freedesktop.org/agd5f/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = linux-amd-staging-drm-next-git::git+https://gitlab.freedesktop.org/agd5f/linux.git#branch=amd-staging-drm-next
	source = config
	sha256sums = SKIP
	sha256sums = a3d44d98ac548fdbafc11a02b6139e175345438f8003fc6383ce31dce92fa6b4
	b2sums = SKIP
	b2sums = 0e534788a7445e28128b46e797945c7dd1e9d4c673e25156e517c9b7ce1122a749b08e0a74204970af8197266e7076100e12c019c0c4b451862db96f6c3f6981

pkgname = linux-amd-staging-drm-next-git
	pkgdesc = The Linux kernel with bleeding-edge AMDGPU drivers kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-amd-staging-drm-next-headers-git
	pkgdesc = Headers and scripts for building modules for the Linux kernel with bleeding-edge AMDGPU drivers kernel
	depends = pahole
